* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
  
  html, body {
    user-select: none;
    width: 100%;
    height: 100%;}
  
  body {
    background: linear-gradient(360deg, #00f060, #fbd786, #f7797d);
    overflow: hidden;
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', monospace;
  }
  
  #drum-machine {
    display: flex;
    width: 500px;
    align-items: center;
  }

  .container {
    flex: 1;
    display:flex;
    flex-wrap: wrap;
  }
  
  .drum-pad {
    font-family: 'VT323', monospace;
    font-size: 200%;
    flex: 24%;
    border: none;
    background-color: grey;
    height: 14vh;
    margin: 4px;
    box-shadow: black 2px 3px 5px;
    outline: none;
    border-radius: 5px;
  } 
  .drum-pad:active {
    box-shadow: none;
  }

  .display {
    margin-left: 10px;
    border-radius: 5px;
    border: 3px solid grey;
    text-align: center;
    line-height: 6vh;
    font-size: 150%;
    width: 24%;
    height: 7vh;
    background-color: greenyellow;
  }